<!DOCTYPE html>
<html>
    <head>
        <title>{{headerTitle}}</title>
        <meta charset="utf-8" />
    </head>
    <body>
       
<header>
    <a href="/">Home</a> | <a href="/about">About Us</a>
    <h1>{{pageTitle}}</h1>
</header>