<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>The quick brown fox jump over the head of the lazy dog near the riverbank.</p>
        <footer>
            &copy;Copyright {{currentYear}}
        </footer>
    </body>    
</html>